html {
    scrollbar-color: #9ba9bc69 #020617;
    scrollbar-width: thin;
}
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.btn:hover {
    transition: all 0.3s ease-in;
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    /* background: linear-gradient(#02061785 0%, rgba(255, 255, 255, 0.08) 100%); */
    /* background-color: rgba(255, 255, 255, 0.074); */
    background: linear-gradient(
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 0.08) 100%
    );
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.mask {
    background: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
}
.mask-reverse {
    background: linear-gradient(transparent, rgba(255, 255, 255, 0.1));
}

.bg-contacto {
    /* Dark mode colors and gradient */
    background: transparent; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
        135deg,
        #12121280 25%,
        #02061783 25%,
        #02061783 50%,
        #12121280 50%,
        #12121280 75%,
        #02061783 75%,
        #02061783
    );
    background-size: 40px 40px;

    /* Animation */
    animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}
@keyframes enhance-header {
    to {
        background: #22458281;
        backdrop-filter: blur(20px);
        transform: translateY(10px);
        border-radius: 50px;
    }
}
.header {
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
}

.nav {
    background: #0c1f3b;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 95%;
    margin: 0 auto;
    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 150px;
}
.nav-item {
    transition: all 0.2s ease;
    &:hover {
        transform: translateY(-5px);
    }
    &:active {
        transform: scale(0.8);
    }
}
